@{
    ViewBag.Title = "Hoi Dong Dieu Hanh";
}
<div class="row">
    <img class="img-responsive" src="/images/banner-reserve-3840x380.png">
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <h1 class="page-header">
                Hoi Dong Dieu Hanh
                <small>News...Intro...</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Trang Chủ", "Index", "Home")
                </li>
                <li class="active">Hoi Dong Dieu Hanh</li>
            </ol>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-7">
            <a href="@Url.Action("News","Bai#")">
                <img src="http://placehold.it/750x350" class="img-responsive">
            </a>
        </div>
        <div class="col-md-5">
            <h3>News Title</h3>
            <h4>Description...</h4>
            <p>First 100 words of the news</p>
            <a href="@Url.Action("News","Bai#")" class="btn btn-primary">Xem Chi Tiet Ban Tin <i class="fa fa-angle-right"></i></a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-7">
            <a href="@Url.Action("News","Bai#")">
                <img src="http://placehold.it/750x350" class="img-responsive">
            </a>
        </div>
        <div class="col-md-5">
            <h3>News Title</h3>
            <h4>Description...</h4>
            <p>First 100 words of the news</p>
            <a href="@Url.Action("News","Bai#")" class="btn btn-primary">Xem Chi Tiet Ban Tin <i class="fa fa-angle-right"></i></a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-7">
            <a href="@Url.Action("News","Bai#")">
                <img src="http://placehold.it/750x350" class="img-responsive">
            </a>
        </div>
        <div class="col-md-5">
            <h3>News Title</h3>
            <h4>Description...</h4>
            <p>First 100 words of the news</p>
            <a href="@Url.Action("News","Bai#")" class="btn btn-primary">Xem Chi Tiet Ban Tin <i class="fa fa-angle-right"></i></a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-7">
            <a href="@Url.Action("News","Bai#")">
                <img src="http://placehold.it/750x350" class="img-responsive">
            </a>
        </div>
        <div class="col-md-5">
            <h3>News Title</h3>
            <h4>Description...</h4>
            <p>First 100 words of the news</p>
            <a href="@Url.Action("News","Bai#")" class="btn btn-primary">Xem Chi Tiet Ban Tin <i class="fa fa-angle-right"></i></a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-7">
            <a href="@Url.Action("News","Bai#")">
                <img src="http://placehold.it/750x350" class="img-responsive">
            </a>
        </div>
        <div class="col-md-5">
            <h3>News Title</h3>
            <h4>Description...</h4>
            <p>First 100 words of the news</p>
            <a href="@Url.Action("News","Bai#")" class="btn btn-primary">Xem Chi Tiet Ban Tin <i class="fa fa-angle-right"></i></a>
        </div>
    </div>
    <hr>
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="#">«</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">»</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--@{
    ViewBag.Title = "Hoi Dong Dieu Hanh";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Hoi Dong Dieu Hanh
                <small>Explain Your Work</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Trang Chủ", "Index", "Home")
                </li>
                <li class="active">Hoi Dong Dieu Hanh</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <img src="http://placehold.it/750x500" class="img-responsive">
        </div>
        <div class="col-md-4">
            <h3>Bai Viet 1</h3>
            <p>Description</p>
            <h3>Details</h3>
            <ul>
                <li>list item 1</li>
                <li>list item 2</li>
                <li>list item 3</li>
                <li>list item 4</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Nhung bai viet khac</h3>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img src="http://placehold.it/500x300" class="img-responsive img-customer">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img src="http://placehold.it/500x300" class="img-responsive img-customer">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img src="http://placehold.it/500x300" class="img-responsive img-customer">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img src="http://placehold.it/500x300" class="img-responsive img-customer">
            </a>
        </div>
    </div>
</div>
<!--<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4 sidebar">
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display: block; position: static; margin-bottom: 5px; *width: 180px;">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">More options</a>
                    <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="#">Second level</a></li>
                        <li class="dropdown-submenu">
                            <a href="#">More..</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">3rd level</a></li>
                                <li><a href="#">3rd level</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Second level</a></li>
                        <li><a href="#">Second level</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-9 col-sm-8">
            <h1 class="page-header">
                Hoi Dong Dieu Hanh
                <small>For Deeper Customization</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Trang Chu", "Index", "Home")

                </li>
                <li class="active">Hoi Dong Dieu Hanh</li>
            </ol>
            <p>...
            </p>
        </div>
    </div>
    <!-- /.row -->
<!--</div>-->
